<!--The content below is only a placeholder and can be replaced.-->
<div id="task" style="text-align:center">
  <h1>
    Plan your Tasks
  </h1>
  
  <div class="container">
  <div class = "row">
	<div class = "col-md-3"></div>
	<div class = "col-md-6">
	<div class="form-group">
	
        <input type="text" class="form-control" id="taskName"
               required
               [(ngModel)]="model.taskName" name="taskName"
               #taskName="ngModel">
        <button type="button" class="btn btn-primary" (click)="createTask()">Create Task</button>
      </div>
	 </div>
	<div class = "col-md-3"></div>
	
	<div class = "col-md-6">
		<div *ngFor="let task of tasks">
			<div *ngIf="task.status == 'Pending'" class="d-flex">
				<div style="min-width:170px">{{task.taskName}}</div>
				<i class="fa fa-check-circle" style="font-size:24px;color:blue" (click)="completeTask(task)"></i>
				<i class="fa fa-ban" style="font-size:24px;color:red" (click)="deleteTask(task)"></i>
			</div>
		</div>
	</div>
	<div class = "col-md-6">
		<div *ngFor="let task of tasks">
			<div *ngIf="task.status == 'Completed'" class="d-flex">
				<div style="min-width:170px">{{task.taskName}}</div>
				<i class="fa fa-ban" style="font-size:24px;color:red" (click)="deleteTask(task)"></i>
			</div>
		</div>
	</div>
  </div>
  </div>
</div>

